mat-card {
  width: 80%;
  margin: 2em auto;
}


.full-width {
  width: 100%;
}

.min-width {
  width: 100%;
  min-width: 150px;
}

mat-card-actions {
  display: flex;
  justify-content: center;

}

.form-array-error {
  text-align: left;
}
